@page
@model Rental.Pages.UnitPrices.CreateModel
@using Rental.Models
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UnitPrice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitPrice.Period" class="control-label"></label>
                <input asp-for="UnitPrice.Period" class="form-control" />
                <span asp-validation-for="UnitPrice.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice.Periodicity" class="control-label"></label>
                <select asp-for="UnitPrice.Periodicity" class="form-control" asp-items="Html.GetEnumSelectList<PERIODICITY>()">
                </select>
                <span asp-validation-for="UnitPrice.Periodicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice.Price" class="control-label"></label>
                <input asp-for="UnitPrice.Price" class="form-control" />
                <span asp-validation-for="UnitPrice.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice.UnitId" class="control-label"></label>
                <select asp-for="UnitPrice.UnitId" class="form-control" asp-items="ViewBag.UnitId">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-UnitId=@Model.UnitPrice.UnitId ??null>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
